.idea
.git

/djangogramm_15/.env
/djangogramm_15/__pycache__

/venv/

/.pytest_cache/
/.__pycache__/

/tests/.benchmarks/
/tests/.pytest_cache/
/tests/.coverage
/tests/__pycache__/
/.coverage

/feed/__pycache__/
/feed/migrations/__pycache__/
/feed/media/avatars/
/feed/media/profiles_photos/
/feed/migrations/0001_initial.py

