boto3==1.28.42
celery==5.3.4
coverage==7.3.0
crispy-bootstrap5==2023.10
django-celery-results==2.5.1
django-crispy-forms==2.1
django-environ==0.11.1
django-registration==3.4
django-storages==1.14
Django==4.2.7
environ==1.0
Faker==19.3.1
model_bakery==1.15.0
Pillow==10.0.0
psycopg2-binary==2.9.7
pytest-mock==3.11.1
pytest==7.4.0
rabbitmq-server==0.0.1
requests==2.31.0