{% extends 'feed/base.html' %}

{% block title %}Followers{% endblock %}

{% block content %}
    <div class="container-sm px-5 py-4 my-3 border rounded w-25">
        <div class="text-center mb-2">
            <div class="fw-bold mb-3"> {{ profile.user.username }}'s followers:</div>
            {% for follower in followers %}
                <a type="text-break text-decoration-none" href="{% url 'feed:profile' follower.follower.profile.slug %}">
                    {{ follower.follower.username }}
                </a> <br>
                {% empty %}
                    <div class="fw-bold">No followers yet.</div>
                {% endfor %}
        </div>
    </div>
{% endblock content %}