{% extends 'feed/base.html' %}

{% block title %}Followings{% endblock %}

{% block content %}
    <div class="container-sm px-5 py-4 my-3 border rounded w-25">
        <div class="text-center mb-2">
        <div class="fw-bold mb-3"> {{ profile.user.username }}'s followings:</div>
            {% for following in followings %}
                <a type="text-break text-decoration-none" href="{% url 'feed:profile' following.following.profile.slug %}">
                    {{ following.following.username }}
                </a> <br>
                {% empty %}
                    <div class="fw-bold">No followings yet.</div>
                {% endfor %}
        </div>
    </div>
{% endblock content %}