{% extends 'feed/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="container-sm my-5 w-25">
    <div class="text-center mb-4">
            <h3>Password reset confirmation.</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button class="btn btn-outline-success" type="submit">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}