{% extends 'feed/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container-sm my-5 w-25">
        <div class="text-center mb-4">
            <h3>Enter your credentials:</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button class="btn btn-outline-success" type="submit">Sign up!</button>
            </div>
        </form>
    </div>
{% endblock content %}